<footer class="footer">
    <div class="container">
        <p class="text-muted">Copyright &#9400; 2019 <a href="www.hidove.cn">Hidove</a>. All rights reserved.
            请勿上传违反中国大陆和香港法律的图片，违者后果自负. </p>
    </div>
</footer>
</body>
<script crossorigin="anonymous" integrity="sha384-2ygunvo/8+5jHbmX6jq2xZ4G16m9hqh00nf4gRYO+Kll0X+PBRRP1x2OIzUz33i3"
    src="https://lib.baomitu.com/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>
<script src="static/common/spop/spop.min.js"></script>
<script src="static/js/main.js"></script>
