<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Hidove图床,免费图床,图床Api,图片外链">
    <meta name="description" content="Hidove图床, 免费公共图床, 提供图片上传和图片外链服务, 原图保存, 隐私相册, 全球CDN加速.">
    <link rel="shortcut icon" href="/favicon.ico" />
    <script crossorigin="anonymous" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
        src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
    <link crossorigin="anonymous" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN"
        href="https://lib.baomitu.com/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <link crossorigin="anonymous" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        href="https://lib.baomitu.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://lib.baomitu.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link crossorigin="anonymous" integrity="sha384-P2t7DO8D0TuNg/NZFhAdRLopsDWTqfYNjzVwjIB5+9hF+/0qk4nk79Oyfl+DaSIA"
        href="https://lib.baomitu.com/bootstrap-fileinput/5.0.6/css/fileinput.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/common/spop/spop.min.css">
    <link href="static/css/style.css" rel="stylesheet">
